@charset "UTF-8";
/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}
*::before {
  box-sizing: border-box;
}
ul, ol, dl {
  list-style: none;
}
a {
  color: #1F2D3D;
  text-decoration: none;
}
a:hover {
  color: rgba(255,77,80,.8);
}
a.active {
  color: #ff4d50;
  font-size: 10px;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
img {
  border: 0;
}

/* common css  */
@font-face {
  font-family: 'iconfont';  /* project id 396075 */
  src: url('//at.alicdn.com/t/font_396075_p53qo6c9lnwgsyvi.eot');
  src: url('//at.alicdn.com/t/font_396075_p53qo6c9lnwgsyvi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_396075_p53qo6c9lnwgsyvi.woff') format('woff'),
  url('//at.alicdn.com/t/font_396075_p53qo6c9lnwgsyvi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_396075_p53qo6c9lnwgsyvi.svg#iconfont') format('svg');
}
.icon {
  font-family: iconfont;
  color: #fff;
  font-size: 50px;
  font-style: normal;
}
body {
  width: 100%;
  height: 100%;
  /*background: url("../images/user-0.jpg") no-repeat 0 0;*/
  /*background-size: cover;*/
  /*background-attachment: fixed;*/
  background: #3a4551; /*备用 背景色*/
  color: #333;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

.container {
  margin: 30px auto;
}

.header , .main {
  max-width: 800px;
  margin: 30px auto;
}
.header {
  height: 100%;
}
.header .logo {
  display: block;
  width: 144px;
  height: 62px;
}
.header .logo img {
  vertical-align: middle;
}
.main .container {
  background: rgba(255,255,255,.6);
  text-align: center;
  color: #1F2D3D;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 15px;
}
.main {
  position: relative;
}
.main ul.aside {
  width: 100%;
  height: 300px;
  float: left;
  text-align: center;
  margin: 30px auto;
}
.main .aside li {
  width: 80%;
  margin: 20px auto;
  text-align: center;
}
.aside a.oo {
  display: table;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #1F2D3D;
  text-align: center;
  line-height: 50px;
  margin: 20px auto;
}
.aside .oo i {
  display: block;
  margin: 30px auto;
  text-align: center;
}
.btn {
  width: 60%;
  height: 40px;
  line-height: 18px;
  padding: 10px 20px;
  display: block;
  border: 1px solid #1F2D3D;
  background: #1F2D3D;
  color: #fff;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;
}
.line {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  width: 1px;
  height: 300px;
  background: #1F2D3D;
}
/*  tab */
.wrap {
  max-width: 600px;
  margin: 20px auto;
}
.tabs {}
.content{
  margin: 20px;
}
.tabs>li {
  float:left;
  width: 50%;
  padding: 10px 20px;
  border-bottom: 2px solid transparent;
  color: #1F2D3D;
  font-size: 14px;
  cursor: pointer;
}
.tabs>li.active {
  border-bottom: 2px solid rgba(31,45,61,.5);
  color: #1F2D3D;
  font-size: 16px;
}
.content {
  padding: 20px 10px;
}
.content>li {
  display: none;
}
.content>.active {
  display: block;
}
/* 注册登录表单 */
.form-group label {
  color: #1F2D3D;
  font-weight: normal;
}
.checkbox label {
  color: rgba(31,45,61,.8);
  font-size: 10px;
}
.checkbox label a {
  color: #ff4d50;
  /*color: rgba(255,77,80,.8);*/
  font-size: 10px;
}
.go-login {
  font-size: 14px;
  color: #1F2D3D;
}
.go-login a:hover {
  color: rgba(255,77,80,.8);
}
.signin-tips {
  font-size: 12px;
}
input[name=identify] {
  width: 62%;
  display: inline-block;
}
.vf-code {
  width: 32%;
  display: inline-block;
  padding: 5px 8px;
  border: 1px solid #1F2D3D;
  background: #1F2D3D;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  margin-left: 10px;
}